<ion-view title="Checkin" id="page2">
  <ion-content padding="true" style="background: url(img/ec05rzNETPSmypcAqg5j_Fb-10-27-14-water-banner.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="checkin-button-bar3" class="button-bar"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.event" id="checkin-button47" style="left:-10px;" class="button button-positive  button-full">Pre Resister</a>
    </div>
    <div id="checkin-button-bar5" class="button-bar"></div>
    <form id="checkin-form4" class="list">
      <ion-item class="item-thumbnail-left" id="checkin-list-item17" ui-sref="tabsController.records">
        <img src="img/Cq7c3ylSCeLNAPEMTcLi_sportsmiley.jpg">
        <h2>Participant</h2>
        <p>picture</p>
      </ion-item>
    </form>
    <div id="checkin-button-bar1" class="button-bar"></div>
    <div id="checkin-button-bar8" class="button-bar"></div>
    <form id="checkin-form13" class="list">
      <label class="item item-input" id="checkin-input19">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="checkin-input20">
        <span class="input-label">Contact Information</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.event" id="checkin-button9" class="button button-positive button-large button-block icon ion-ios-cart">Event</a>
  </ion-content>
</ion-view>