<ion-view title="Event " id="page3" style="background-color:#7EA7E9;">
  <ion-content padding="true" style="background: url(img/zDkV3VGZQFCfNUG7W0EC_Fb-10-27-14-water-banner.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="event-button-bar2" class="button-bar"></div>
    <form id="event-form15" class="list">
      <label class="item item-input" id="event-input22">
        <span class="input-label">Participant Name:</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="tabsController.checkin" id="event-button46" class="button button-positive  button-block">Weather</a>
      <label class="item item-input" id="event-input16">
        <span class="input-label">Event Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="event-input17">
        <span class="input-label">Event location</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="event-input18">
        <span class="input-label">Directions</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.records" id="event-button61" class="button button-positive  button-block">Records</a>
    <div id="event-button-bar10" class="button-bar">
      <button id="event-button57" class="button button-positive  button-block">On Time</button>
      <button id="event-button59" class="button button-positive  button-block">NO Show</button>
      <button id="event-button58" class="button button-positive  button-block">Late</button>
    </div>
    <div id="event-button-bar11" class="button-bar">
      <a ui-sref="tabsController.records" id="event-button65" class="button button-positive  button-block">Check In</a>
      <a ui-sref="tabsController.records" id="event-button67" class="button button-positive  button-block">Check Out</a>
    </div>
    <div id="event-button-bar4" class="button-bar"></div>
    <form id="event-form16" class="list">
      <div id="event-button-bar9" class="button-bar"></div>
    </form>
  </ion-content>
</ion-view>