<ion-view title="Records" id="page4">
  <ion-content padding="true" style="background: url(img/RUczqRqSa7ZVuco6PkwI_Fb-10-27-14-water-banner.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="records-list5">
      <ion-item class="item-thumbnail-left" id="records-list-item16" ui-sref="tabsController.event">
        <h2>Worker</h2>
        <p>Picture</p>
      </ion-item>
      <label class="item item-input" id="records-input12">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="records-input13">
        <span class="input-label">Position</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div id="records-button-bar7" class="button-bar">
      <a ui-sref="tabsController.checkin" id="records-button36" class="button button-positive  button-block">On Time</a>
      <a ui-sref="tabsController.checkin" id="records-button37" class="button button-positive  button-block">Late</a>
      <a ui-sref="tabsController.checkin" id="records-button38" class="button button-positive  button-block">No Show</a>
    </div>
    <form id="records-form17" class="list">
      <label class="item item-input" id="records-input24">
        <span class="input-label">Present and Left</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.checkin" id="records-button60" class="button button-positive  button-block">Records</a>
  </ion-content>
</ion-view>