<ion-view title="Tabs Controller" id="page1" style="background-color:#35A9D6;">
  <ion-tabs class="tabs-calm tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Checkin" icon="ion-ios-personadd" href="#/page1/tab1/checkin" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Event" icon="ion-ios-grid-view" href="#/page1/tab2/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Record" icon="ion-ios-information" href="#/page1/tab3/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>